# Misc
.DS_Store
**/.DS_Store
.devcontainer
.editorconfig
.git

# Node & TS
node_modules
**/node_modules
**/coverage
packages/*/build
apps/*/build
**/*.tsbuildinfo
**/*.test.ts

# Python
**/__pycache__
**/.venv
**/.pytest_cache

# Turbo
.turbo
**/.turbo

# Yarn
.pnp.*
.yarn/*
**/.pnp.*
**/.yarn/*

# Packages
apps/site/.svelte-kit
apps/site/vite.config.ts.timestamp-*

# Data folder
data
