# Mac
.DS_Store

# Data directory
/data

# Node
node_modules
coverage

# Python
__pycache__

# Yarn
.pnp.*
*/.yarn/*
!*/.yarn/patches
!*/.yarn/plugins
!*/.yarn/releases
!*/.yarn/sdks
!*/.yarn/versions

# Svelte
.env
.env.*
!.env.example
/site/build
/site/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
