# Mac
.DS_Store

# Node
node_modules
coverage

# Python
__pycache__
.venv
.pytest_cache

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env
.env
.env.*
!.env.example

# Site folder
/site/build
/site/.svelte-kit
/site/vite.config.js.timestamp-*
/site/vite.config.ts.timestamp-*

# Indexer folder
/indexer/build

# Data folder
/data
