# Mac
.DS_Store

# Node & TS
node_modules
coverage
build
*.tsbuildinfo

# Python
__pycache__
.venv
.pytest_cache

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env
.env
.env.*
!.env.example

# Site folder
/site/.svelte-kit
/site/vite.config.js.timestamp-*
/site/vite.config.ts.timestamp-*

# Data folder
/data
